@charset "utf-8";

body {
    margin: 0px;
    padding: 0px;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.stretch {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

.defaultBg {
    display: inline;
}

#header {
    text-align: center;
}
#imgHeader {
    margin: 0 auto;
    border-radius: 15px;
    opacity: 0.75;
    filter:alpha(opacity=75); /* IE ver <= 8.0 */
}

#container {
    padding-top: 20px;
    width: 720px;
    margin: 0 auto;

    opacity: 0.85;
    filter:alpha(opacity=85); /* IE ver <= 8.0 */
}

.boxScores {
    margin-top: 10px;
    height: auto;
}
.boxScores .boxTitle {
    text-shadow: -1px 0 black, 0 1px black,
        1px 0 black, 0 -1px black;

    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 0em;
}
.boxScores .boxFooter {
    text-align: right;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    margin-right: 0em;
}

.boxForm {
    margin-top: 10px;
    height: auto;

    border: 1px solid #660033;
    border-collapse: collapse;
}

.boxForm .boxTitle {
    text-shadow: -1px 0 black, 0 1px black,
        1px 0 black, 0 -1px black;

    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 0em;

    background-color: #990033;
}

.boxForm .boxContainer {
    width: 480px;
    margin: 0 auto;
    padding: 4px 0;
}

.boxForm label {
    clear: left;
    float: left;

    width: 180px;
    text-align: right;
    color: #FFFFFF;
    padding-right: 10px;

    text-shadow: black 0.1em 0.1em 0.2em;
}

.boxForm .submit {
    margin: 4px 0 0 192px;
}

#msgBox {
    padding-left: 1em;
    margin-top: 10px;

    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;

    border: 1px dashed #660033;
    color: #FEFEFE;
}

.boxResults {
    margin-top: 10px;
    height: 250px;

    border: 1px solid #660033;

    color: #FFFFFF;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.boxResults .boxTitle {
    background-color: #990033;
}

.boxResults .boxContainer {
    padding: 8px 8px;
}

.teamInfo {
    height: 240px;
    width: 430px;
    float: left;

    margin: 0px auto;
}
.teamInfo label {
    display: block;
    width: 120px;
    float: left;

    font-size: 13px;
    text-align: right;

    margin: 2px 0px 0px 0px;
}
.teamInfo input {
    width: 240px;
    float: left;

    margin: 0px 0px 10px 10px;
}
.teamInfo button {
    clear: both;
    margin-top: 20px;
    margin-left: 140px;

    width: 160px;
    height: 30px;

    text-align: center;
}
.uploadPicBox {
    text-align: center;
}
.uploadPicBox label {
    font-size: 12px;
}

#teamPictureBox {
    margin: 0 auto;
    text-align: center;
}

table {
    width: 100%;
    margin: 1em auto;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

table tr:nth-child(even) td {
    color: #FFFFFF;
    background: #663333;

    text-shadow: black 0.1em 0.1em 0.2em;
}

table tr:nth-child(odd) td {
    color: #000000;
    background: #FFFFFF;

    text-shadow: white 0.1em 0.1em 0.2em;
}

table tr th {
    padding: 4px 4px 4px 4px;
    font-size: 14px;

    color: #FFFFFF;
    background-color: #990033;
    border: solid 1px #660033;

    text-shadow: -1px 0 black, 0 1px black,
        1px 0 black, 0 -1px black;
}

table tr td {
    padding: 4px 10px;
    text-align: left;
    font-size: 13px;
    border: solid 1px #660033;
}

a {color: #FFFFFF}
a:hover {text-decoration: underline}
a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}

h1, h2,
h3, h4 {
    padding-left: 8px;
    margin: 0 auto 0 auto;
}

p {
    margin: 1px auto;
}