{% extends "base.html" %}
{% block styles %}
<!-- -->
{% endblock %}
{% block body %}
          <div class="row col-md-height">
            <div class="col-xs-4">Estado</div>
            <div class="col-xs-8">
            {% if dev_info.status is sameas false %}
              <span id="status-icon" class="glyphicon glyphicon-remove"></span>
            {% else %}
              <span id="status-icon" class="glyphicon glyphicon-ok"></span>
            {% endif %}
            </div>
          </div>
          <div class="row voffset1">
            <div class="col-xs-4">Temperatura</div>
            <div class="col-xs-8">{{ dev_info.temperature }}° [C]</div>
          </div>
          <div class="row voffset1">
            <div class="col-xs-4">Descripción</div>
            <div class="col-xs-8">{{ dev_info.description }}</div>
          </div>
          <div class="sub-header"></div>
          <div class="row voffset1">
            <div class="col-xs-4">
              <a href="{{ url_for('index') }}">Volver</a>
            </div>
          </div>
{% endblock %}
{% block scripts %}
<!-- -->
{% endblock %}