{% extends "base.html" %}
{% block body %}
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Tipo</th>
                  <th>Nombre</th>
                  <th>Detalles</th>
                </tr>
              </thead>
            {% if devices %}
              <tbody>
              {% for device in devices %}
                <tr>
                  <td>{{ device.dev_id }}</td>
                  <td>{{ device.type_desc }}</td>
                  <td>{{ device.name }}</td>
                  <td><a href="/devices/{{ device.dev_id }}">ver...</a></td>
                </tr>
                {% endfor %}
              </tbody>
            {% endif %}
            </table>
{% endblock %}